flow1.txt
[{"id":"8dec1835.1b5378","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"abd73361.8b074","type":"http in","z":"8dec1835.1b5378","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":90,"y":160,"wires":[["d3cd3162.84267"]]},{"id":"4ac0d18b.a73a6","type":"rpi-gpio in","z":"8dec1835.1b5378","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":false,"x":70,"y":280,"wires":[["6eed6115.6ba69"]]},{"id":"6eed6115.6ba69","type":"function","z":"8dec1835.1b5378","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["a5a4dd18.0c5a6"]]},{"id":"d3cd3162.84267","type":"function","z":"8dec1835.1b5378","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["30c54e5c.9408e2","a5a4dd18.0c5a6"]]},{"id":"30c54e5c.9408e2","type":"http response","z":"8dec1835.1b5378","name":"","statusCode":"","headers":{},"x":470,"y":120,"wires":[]},{"id":"a5a4dd18.0c5a6","type":"debug","z":"8dec1835.1b5378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":240,"wires":[]}]