Flow5.txt
[{"id":"fd1e2b31.594b98","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"46c0a954.dd74c8","type":"http in","z":"fd1e2b31.594b98","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":180,"wires":[["c0586078.0bb03","9cc6f747.ab1838"]]},{"id":"c0586078.0bb03","type":"function","z":"fd1e2b31.594b98","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["34a5214.28354de"]]},{"id":"34a5214.28354de","type":"rpi-gpio out","z":"fd1e2b31.594b98","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":580,"y":440,"wires":[]},{"id":"9cc6f747.ab1838","type":"function","z":"fd1e2b31.594b98","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":180,"wires":[["7c1329cd.f146b8","4c2342b2.21a2cc"]]},{"id":"7c1329cd.f146b8","type":"http response","z":"fd1e2b31.594b98","name":"","statusCode":"","headers":{},"x":550,"y":100,"wires":[]},{"id":"4c2342b2.21a2cc","type":"debug","z":"fd1e2b31.594b98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":180,"wires":[]},{"id":"6d51a6d5.695dd8","type":"http in","z":"fd1e2b31.594b98","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":120,"y":400,"wires":[["c59c41f0.ae48a","c14b80b2.f8f81"]]},{"id":"c59c41f0.ae48a","type":"function","z":"fd1e2b31.594b98","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":420,"wires":[["34a5214.28354de"]]},{"id":"c14b80b2.f8f81","type":"function","z":"fd1e2b31.594b98","name":"Return status","func":"msg.payload=\"GPIO5 SET TO 0\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":520,"wires":[["7c1329cd.f146b8","4c2342b2.21a2cc"]]}]